.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 100px;
    height: 50px;
    /* Add any custom logo styles */
  }
  
  .filter-buttons {
    display: flex;
    align-items: center;
  }
  
  .filter-buttons button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    /* Add any custom button styles */
  }
  
  .filter-buttons select {
    margin-right: 10px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    /* Add any custom select styles */
  }
  
  .btn button {
    padding: 8px 16px;
    margin : 10px 10px ;
    border: none;
    background-color:#007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    /* Add any custom button styles */
  }